@import 'normalize.css';

* {
    outline: none !important;
}

html {
    background: white;
    font-size: 62.5%;
    font-family: Noto Sans, Muli, Roboto, Helvetica Neue, Arial, sans-serif;
}

body {
    font-size: 14px;
    line-height: 1.4;
}

html, body, #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

@import 'tailwind.css';